POSTGRES_USER=seu_usuario
POSTGRES_PASSWORD=sua_senha
POSTGRES_DB=monitoramento_servicos
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5433/${POSTGRES_DB}
DATABASE_URL_TESTE=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5433/monitoramento_servicos_teste